@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

body._lock {
  overflow: hidden;
  height: 100vh;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .header {
    padding: 21px 0 10px;
  }
}

.header__wrapper {
  border-bottom: 1px solid #babbc5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .header__wrapper {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    border-bottom: transparent;
  }
}

@media (max-width: 767px) {
  .header-logo {
    padding: 21px 0 0 18px;
    position: relative;
    z-index: 4;
    top: -22px;
    left: -20px;
    width: 100%;
    height: 100%;
  }
}

.header-logo svg {
  width: 184px;
  height: 27px;
}

@media (max-width: 767px) {
  .header-logo svg {
    width: 101px;
    height: 14px;
  }
}

.header__menu {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    z-index: 3;
    padding: 81px 0 0 20px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease-out 0s;
    transition: left 0.3s ease-out 0s;
    overflow: auto;
    background-image: url(../img/banner/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu:before {
    content: " ";
    display: block;
    position: absolute;
    background-color: #252b49;
    opacity: 80%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header__menu._active {
    left: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 3;
  }
}

.header__list li {
  text-align: center;
  list-style-type: none;
  max-width: 134px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__list li {
    max-width: 113px;
  }
}

@media (max-width: 767px) {
  .header__list li {
    text-align: left;
  }
}

.header__item {
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 41px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 3px solid transparent;
}

@media (max-width: 1024px) {
  .header__item {
    font-size: 12px;
    line-height: 14px;
    padding: 41px 0;
  }
}

@media (max-width: 767px) {
  .header__item {
    padding: 25px 0;
  }
}

.header__item:hover {
  border-bottom: 3px solid #babbc5;
}

@media (max-width: 767px) {
  .header__item:hover {
    border-bottom: 3px solid transparent;
  }
}

.header__item:active {
  border-bottom: 3px solid #e71414;
}

@media (max-width: 767px) {
  .header__item:active {
    border-bottom: 3px solid transparent;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    z-index: 4;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 27px;
    right: 47px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger span::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    top: 7.5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__burger span::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    bottom: 7.5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__burger._active span {
    background-color: transparent;
  }
  .header__burger._active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .header__burger._active span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../img/banner/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.banner br {
  display: none;
}

@media (max-width: 767px) {
  .banner br {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}

.banner:before {
  content: " ";
  display: block;
  position: absolute;
  background-color: #252b49;
  opacity: 80%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner .container {
  position: relative;
  z-index: 1;
}

.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 1024px) {
  .banner__title {
    margin-bottom: 61px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    margin-bottom: 32px;
  }
}

.banner__text {
  font-size: 24px;
  line-height: 28px;
  max-width: 1080px;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 82px;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    max-width: 795px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  .banner__text {
    margin-bottom: 91px;
  }
}

@media (max-width: 767px) {
  .banner__text {
    margin-bottom: 51px;
  }
}

.banner__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  display: block;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  background-color: #ff4343;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.banner__btn:hover {
  background-color: #e71414;
}

.banner__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}

@media (max-width: 1024px) {
  .banner__btn {
    max-width: 313px;
  }
}

@media (max-width: 767px) {
  .banner__btn {
    padding: 15px 0 15px 0;
    max-width: none;
  }
}

.features {
  padding: 116px 0 133px;
}

@media (max-width: 1024px) {
  .features {
    padding: 78px 0 80px;
  }
}

@media (max-width: 767px) {
  .features {
    padding: 40px 0 39px;
  }
}

.features__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 88px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .features__wrapper {
    row-gap: 49px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .features__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

.features__item {
  display: -ms-grid;
  display: grid;
}

.features__icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto 49px;
}

@media (max-width: 1024px) {
  .features__icon {
    margin: 0 auto 42px;
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 767px) {
  .features__icon {
    margin: 0 auto 40px;
    width: 75px;
    height: 74px;
  }
}

.features__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 44px;
  margin-top: auto;
  text-align: center;
  font-weight: 900;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 6px;
  }
}

@media (max-width: 1024px) {
  .features__title {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .features__title {
    margin-bottom: 8px;
  }
}

.features__text {
  margin-top: auto;
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .work {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.work__block {
  position: relative;
  border: 1px solid #fff;
}

.work__block::before {
  content: " ";
  display: block;
  padding-top: 89.947%;
}

.work__block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.work__block-information {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff4343;
  opacity: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work__block-information:hover {
  opacity: 80%;
  cursor: pointer;
}

.work__block-information:active {
  background-color: #b90c0ccc;
}

.work .block-information__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .work .block-information__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .work .block-information__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
  }
}

.work .block-information__description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

@media (max-width: 1024px) {
  .work .block-information__description {
    font-size: 14px;
    line-height: 16px;
  }
}

.team {
  padding: 114px 0;
}

@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}

@media (max-width: 767px) {
  .team {
    padding: 35px 0;
  }
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .team__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.team__item:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .team__item {
    margin-right: 0;
    width: 100%;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .team__item {
    margin: 0 0 50px 0;
  }
  .team__item:last-child {
    margin: 0;
  }
}

.team__img {
  position: relative;
  margin-bottom: 31px;
}

.team__img:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (max-width: 767px) {
  .team__img:before {
    padding-bottom: 81.1%;
  }
}

.team__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1024px) {
  .team__img {
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .team__img {
    margin-bottom: 29px;
  }
}

.team__title-item {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .team__title-item {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 6px;
  }
}

.team__position {
  font-size: 18px;
  line-height: 21px;
  color: #ff4343;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .team__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .team__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38px;
  }
}

.team__text {
  font-size: 18px;
  line-height: 21px;
  color: #6c7279;
  font-weight: 400;
  margin-bottom: 37px;
}

@media (max-width: 1024px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .team__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  .team__text {
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .team__text {
    margin-bottom: 55px;
  }
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.team__icons-link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 1024px) {
  .team__icons-link {
    width: 33px;
    height: 33px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .team__icons-link {
    width: 39px;
    height: 39px;
    margin-right: 6px;
  }
}

.team__icons-link:last-child {
  margin-right: 0;
}

.team__icons-link:hover {
  border: 1px solid #ff4343;
}

.team__icons-link:hover path {
  fill: #ff4343;
  color: #ff4343;
}

.testimonials-slider {
  overflow: hidden;
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .testimonials-slider {
    padding-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .testimonials-slider {
    padding-bottom: 35px;
  }
}

.testimonials-slider .swiper-wrapper {
  position: relative;
}

.testimonials-slider .swiper-slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 51%;
      grid-template-columns: 49% 51%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5c3249;
}

@media (max-width: 767px) {
  .testimonials-slider .swiper-slide {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.testimonials-slider .swiper-slide .testimonials__pic {
  overflow: hidden;
  position: relative;
}

.testimonials-slider .swiper-slide .testimonials__pic:before {
  content: "";
  display: block;
  padding-bottom: 66.127%;
}

.testimonials-slider .swiper-slide .testimonials__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials-slider .testimonials__description {
  padding: 15px 100px 0 129px;
}

@media (min-width: 1025px) and (max-width: 1075px) {
  .testimonials-slider .testimonials__description {
    padding: 0 90px 0 88px;
  }
}

@media (max-width: 1024px) {
  .testimonials-slider .testimonials__description {
    padding: 0 90px 40px 88px;
  }
}

@media (min-width: 768px) and (max-width: 816px) {
  .testimonials-slider .testimonials__description {
    padding: 0 30px 0 90px;
  }
}

@media (max-width: 767px) {
  .testimonials-slider .testimonials__description {
    padding: 26px 25px 101px 20px;
  }
}

.testimonials-slider .swiper-slide__title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Cardo", serif;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 25px;
}

@media (min-width: 319px) and (max-width: 767px) {
  .testimonials-slider .swiper-slide__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials-slider .swiper-slide__title {
    font-size: 24px;
    line-height: 32px;
    max-width: 350px;
    text-align: left;
    margin: 0 auto 13.5px;
  }
}

.testimonials-slider .swiper-slide__text {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@media (max-width: 1024px) {
  .testimonials-slider .swiper-slide__text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {
  .testimonials-slider .swiper-slide__text {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.testimonials-slider .swiper-pagination {
  bottom: 0;
}

.testimonials-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #7e5d6f;
  opacity: 1;
  margin: 0 12.5px !important;
}

@media (max-width: 1024px) {
  .testimonials-slider .swiper-pagination-bullet {
    width: 9.5px;
    height: 9.5px;
    margin: 0 13px !important;
  }
}

@media (max-width: 767px) {
  .testimonials-slider .swiper-pagination-bullet {
    width: 9.5px;
    height: 9.5px;
    margin: 0 10px !important;
  }
}

.testimonials-slider .swiper-pagination-bullet-active {
  background-color: #7e5d6f;
}

.download {
  padding: 127px 0 114px;
}

@media (max-width: 1024px) {
  .download {
    padding: 89px 0 78px;
  }
}

@media (max-width: 767px) {
  .download {
    padding: 50px 0 45px;
  }
}

.download__title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 23px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

.download__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 49px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 13px;
  }
}

.download__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  display: block;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  background-color: #ff4343;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
}

.download__btn:hover {
  background-color: #e71414;
}

.download__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}

@media (max-width: 1024px) {
  .download__btn {
    max-width: 313px;
    font-size: 18px;
    line-height: 21px;
    padding: 28px 0 28px 0;
  }
}

@media (max-width: 767px) {
  .download__btn {
    padding: 15px 0 15px 0;
    font-size: 18px;
    line-height: 21px;
    max-width: none;
    padding: 28px 0 28px 0;
  }
}

.footer__top {
  padding: 71px 0;
  background-color: #353c65;
}

@media (max-width: 1024px) {
  .footer__top {
    padding: 46px 0 41px;
  }
}

@media (max-width: 767px) {
  .footer__top {
    padding: 34px 0;
  }
}

.footer__bottom {
  padding: 23px 0;
  background-color: #2c3154;
}

@media (max-width: 1024px) {
  .footer__bottom {
    padding: 14px 0;
  }
}

@media (max-width: 767px) {
  .footer__bottom {
    padding: 28.5px 0;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.footer__item:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .footer__item {
    margin-right: 20px;
    width: calc((100% - 40px) / 3);
  }
}

@media (max-width: 767px) {
  .footer__item {
    width: 100%;
  }
  .footer__item:first-child {
    margin: 0 0 69px 0;
  }
  .footer__item:nth-child(2) {
    margin: 0 0 61px 0;
  }
}

.footer__item-title-1 {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin-bottom: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 319px) and (max-width: 1024px) {
  .footer__item-title-1 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  .footer__item-title-1 {
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .footer__item-title-1 {
    margin-bottom: 34px;
  }
}

.footer__item-title-2 {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin-bottom: 49px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 319px) and (max-width: 1024px) {
  .footer__item-title-2 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  .footer__item-title-2 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .footer__item-title-2 {
    margin-bottom: 36px;
  }
}

.footer__item-title-3 {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin-bottom: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 319px) and (max-width: 1024px) {
  .footer__item-title-3 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  .footer__item-title-3 {
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .footer__item-title-3 {
    margin-bottom: 38px;
  }
}

.footer__item-description {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

@media (min-width: 319px) and (max-width: 1024px) {
  .footer__item-description {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons-link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media (max-width: 1024px) {
  .footer__icons-link {
    width: 33px;
    height: 33px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .footer__icons-link {
    margin-right: 16px;
  }
}

.footer__icons-link:last-child {
  margin-right: 0;
}

.footer__icons-link:hover {
  border: 1px solid #ff4343;
}

.footer__icons-link:hover path {
  fill: #ff4343;
  color: #ff4343;
}

.footer__rights {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 21px;
  max-width: 370px;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .footer__rights {
    font-size: 14px;
    line-height: 16px;
    max-width: 330px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__rights {
    font-size: 14px;
    line-height: 16px;
    max-width: none;
  }
}

.footer span {
  color: #fff;
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */